<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<mvc:annotation-driven />
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean id="urlInterceptor" class="com.psy.common.interceptor.URLInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean class="com.psy.common.exception.handler.ApplicationExceptionHandler"/>
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean id="employeesController" class="com.psy.employees.web.EmployeesController">
		<property name="employeesService" ref="employeesService"/>
		<property name="departmentsService" ref="departmentsService"/>
	</bean>
	
	<bean id="positionController" class="com.psy.position.web.PositionController">
		<property name="positionService" ref="positionService"></property>
	</bean>
	
	<bean id="departmentsController" class="com.psy.departments.web.DepartmentsController">
		<property name="departmentsService" ref="departmentsService"/>
	</bean>

</beans>
