<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				▶  %-5level %d{HH:mm:ss.SSS} [%thread] %logger[%method:%line] -%msg\n
			</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" level="INFO"/> // 레벨을 변화시킬 수 있다.
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>d:/mvc.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				d:/MVC.%d{yyyy-MM-dd-HH-mm}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>
				▶  %-5level %d{HH:mm:ss.SSS} [%thread] %logger[%method:%line] -%msg\n
			</pattern>
		</encoder>
	</appender>
	
	
	<root level="INFO">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</root>	
</configuration>